{% extends "base.html" %}
{% block content %}
<head>
	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Didact+Gothic" rel="stylesheet">
</head>
<h3 style="text-align: center; font-family: 'Abril Fatface', cursive; font-size: 30px; margin-top: +20px">Hi all, This is my complete biodata</h3>
<table align="center" style="text-align: center">
    {% for bio in bio_dict %}
        <tr>
            <td class="subject">{{ bio.subject }}</td>
            <td class="value">{{ bio.value }}</td>
        </tr>
    {% endfor %}
</table>
<br><br>
{% endblock %}
