{% extends "lab_4/layout/base.html" %}

{% block content %} 
<head>
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Quicksand:700|Varela+Round" rel="stylesheet">
</head>
<style type="text/css">
    .img-circle {
     border-radius: 50%;
     width: 250px;
     height:250px;
    }
    .grow:hover{
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);  
    }

    .text-section{
        position: relative;
        border-left: 2px solid black;
        padding: 20px;
        left: 680px;
        margin-left: -100px;
        margin-top: -150px;
    }

    .about-me{
        font-family: 'Varela Round', sans-serif;
        font-size: 25px;
        text-align: justify;
    }

    .box{
        background-color: rgba(255,255,255,0.5);
        margin-top: +30px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: +50px;
    }
</style>
<center><img src="https://preview.ibb.co/jzyOdk/Untitled_1.png" style="margin-top: -200px"></center>
<div style="display: inline; text-align: center;">
    <div style="display: inline; text-align: left">
        <section name="bio" class="text-section">
            <h2 style="font-family: 'Patrick Hand SC', cursive; font-size: 50px; border-bottom-style:dashed; width: 60px; top: 100px">Bio</h2>
                <p style="font-size: 25px; max-width: 600px; text-align: justify;font-family:'Quicksand', sans-serif;">
                    {{content}}
                </p>    
        </section>    
        <img class="img-circle grow" src="https://image.ibb.co/hxSn3k/fdd.jpg" style="margin-top: -300px; margin-left: +200px; float: left">
            
    </div>  
</div>        
<hr style="width: 1210px; height: 3px; background-color: white; color: white" />
<section name="about_me">
    <h2 align="center" style="font-family: 'Patrick Hand SC', cursive; font-size: 50px; border-bottom-style:dashed; width: 500px; margin: 0px 350px;top: 100px; color: white">More Information About Me</h2>
    <ul class="box about-me" style="padding-right: 7px; width: 1100px;">
        {% for ii in about_me %}
        <li style="text-indent: +10px">{{ ii }}</li>
        {% endfor %}
    </ul>
</section>
<hr style="width: 1210px; height: 3px; background-color: white; color: white" />
<section name="form">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>

{% endblock %}




    