{% extends "base.html" %}
{% block content %}
<head>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Quicksand|Didact+Gothic" rel="stylesheet" type="text/css">
</head>
<h3 style="text-align: center; margin-top: 20px;font-family: 'Permanent Marker', cursive; font-size: 30px">Hai semua,<br>berikut adalah Catatan Harianku</h3>
<br><br>
<div class="row" style="font-family: 'Didact Gothic', sans-serif;margin-right: -250px">
    <div class="col-md-6 col-xs-6">
        <table align="center" style="text-align: center">
            <tr>
                <th><center>Tanggal</center></th>
                <th><center>Yang akan dikerjakan</center></th>
            </tr>
            {% for diary_data in diary_dict %}
                <tr>
                    <td class="date">{{ diary_data.date }}</td>
                    <td class="activity">{{ diary_data.activity }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-6 col-xs-6" style="font-family: 'Quicksand', sans-serif;">
        <form method="POST" action="add_activity/">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        Tanggal
                    </td>
                    <td>
                        <input type="datetime-local" name="date" id="date" required="required"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Kegiatan
                    </td>
                    <td>
                        <input type="text" name="activity" id="activity" size="25"/>
                    </td>
                </tr>
            </table>
            <button type="submit" class="button btn-success">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
