{% extends "base.html" %}
{% block content %}
<head>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
</head>
<style>
    .center_screen {
        position: absolute;
        width: 550px;
        height: 60px;
        top: 50%;
        left: 50%;
        margin-left: -280px; /* margin is -0.5 * dimension */
        margin-top: -60px;
        font-size: 25px;
        font-family: 'Josefin Slab', serif;
    }
</style>
<div class="center_screen">
    <p class="status" id="test"><center>Hello, this is {{ name }}. {{ content }}.</center></p>
</div>
{% endblock %}