{% extends "base.html" %}
{% block content %}
<head>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
    <link href="{% static 'css/woy.css' %}" rel="stylesheet" type="text/css" />
</head>
<style>
    .center_screen {
        position: absolute;
        width: 550px;
        height: 60px;
        top: 50%;
        left: 50%;
        margin-left: -280px; /* margin is -0.5 * dimension */
        margin-top: -60px;
        font-size: 25px;
        font-family: 'Josefin Slab', serif;
    }
</style>
<div class="center_screen">
    <p class="status" id="test"><center>Hello, {{ name }} !</center></p>
    <h1 class="omega"> Saya suka PPW </h1>
</div>
{% endblock %}